{% extends 'products/base.html' %}
{% load static %}

{% block content %}

        <div class="profile-container">

            <div class="row">
                <div class="profile-left">
                    <h4 class="profile-title">Профиль</h4>
                    <div class="profile-image__container">
                        <img width="100" height="100" src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" class="profile-image">
                    </div>
                    <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="profile-form-row">
                            <div class="profile-group">
                                <div class="form-group">
                                    <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Имя</label>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="profile-group">
                                <div class="form-group">
                                    <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                        </div>
                        <div class="profile-form-row">
                            <div class="profile-group">
                                <div class="custom-file">
                                    {{ form.image }}
                                    <label class="custom-file-label" for="{{ form.image.id_for_label }}">Выберите
                                        изображение</label>
                                </div>
                            </div>
                        </div>
                        <div class="profile-form-row">
                            <div class="profile-group">
                                <label class="small mb-1" for="{{ form.username.id_for_label }}">Имя
                                    пользователя</label>
                                {{ form.username }}
                            </div>
                            <div class="profile-group">
                                <label class="small mb-1" for="{{ form.email.id_for_label }}">Адрес электронной
                                    почты</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="button-profile__container">
                                <input class="button-profile" type="submit" value="Сохранить">
                            </div>
                        </div>
                    </form>
                </div>

                {% include 'products/basket.html' %}


            </div>

        </div>

{% endblock %}